{% extends "main template.html" %}

{% block body %}
<html>

<iframe src="https://docs.google.com/document/d/e/2PACX-1vRZehLZiq-i5_Bfm9vHRR7SxzC7VgJgj6KdzPu5zVR10TrBQsMMhgXWQXMqrCfvW7zXDvQ3qFDNJOUy/pub?embedded=true"></iframe>

</body>

<style>
  .vantatrunk {
	position: abosolute;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

	}
	.center {
  padding: 70px 0;
  border: 3px solid green;
}
</style>
</html>

{% endblock %}
